cookbook-connector/src/test/resources/automation-test-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:cookbook="http://www.mulesoft.org/schema/mule/cookbook" xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      version="EE-3.6.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:context="http://www.springframework.org/schema/context"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.mulesoft.org/schema/mule/cookbook http://www.mulesoft.org/schema/mule/cookbook/current/mule-cookbook.xsd">

    <context:property-placeholder location="automation-credentials.properties"/>

    <cookbook:config username="${config.username}" address="${config.address}" password="${config.password}"
                     name="Cookbook" doc:name="Cookbook"></cookbook:config>
    <cookbook:oauth2 consumerKey="${config.consumerKey}" authorizationUrl="${config.authorizationUrl}"
                     accessTokenUrl="${config.accessTokenUrl}" address="${config.address}"
                     onNoToken="${config.onNoToken}" consumerSecret="${config.consumerSecret}" name="Cookbook-oauth2"
                     doc:name="Cookbook-oauth2"></cookbook:oauth2>

    <flow name="get-recently-added" doc:name="GetRecentlyAdded">
        <cookbook:get-recently-added config-ref="Cookbook"/>
    </flow>

    <flow name="create" doc:name="Create">
        <cookbook:create config-ref="Cookbook" type="#[flowVars.type]"/>
    </flow>

    <flow name="update" doc:name="Update">
        <cookbook:update config-ref="Cookbook" type="#[flowVars.type]"/>
    </flow>

    <flow name="get" doc:name="Get">
        <cookbook:get config-ref="Cookbook" type="#[flowVars.type]"/>
    </flow>

    <flow name="delete" doc:name="Delete">
        <cookbook:delete config-ref="Cookbook"/>
    </flow>

    <flow name="query-paginated" doc:name="QueryPaginated">
        <cookbook:query-paginated config-ref="Cookbook" query="#[flowVars.query]"/>
    </flow>

</mule>
