cook-book-connector/src/test/resources/automation-test-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:cook-book="http://www.mulesoft.org/schema/mule/cook-book"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"

	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.mulesoft.org/schema/mule/cook-book http://www.mulesoft.org/schema/mule/cook-book/current/mule-cook-book.xsd">

	<context:property-placeholder location="automation-credentials.properties" />

	<cook-book:config-type username="admin" password="admin" name="config" doc:name="Cook-book"/>

	<flow name="get-recently-added" doc:name="GetRecentlyAdded">
		<cook-book:get-recently-added config-ref="config" />
	</flow>

	<flow name="create" doc:name="Create">
		<cook-book:create config-ref="config" type="#[flowVars.type]">
			<cook-book:entity ref="#[flowVars.EntityRef]" />
		</cook-book:create>
	</flow>

	<flow name="update" doc:name="Update">
		<cook-book:update config-ref="config" type="#[flowVars.type]">
			<cook-book:entity ref="#[flowVars.EntityRef]" />
		</cook-book:update>
	</flow>

	<flow name="get" doc:name="Get">
		<cook-book:get config-ref="config" type="#[flowVars.type]" />
	</flow>

	<flow name="delete" doc:name="Delete">
		<cook-book:delete config-ref="config" />
	</flow>

</mule>
